  <ul>
    <li class="relbook"><a href="/releasebook">Release a book</a></li>
    <li class="sendbook"><a href="/sendbook">Send a book</a></li>
    <li class="recbook"><a href="/receivebook">Receive a book</a></li>
    <li class="search"><a href="/accounts/profile">Search</a>
      <ul>
        <li class="bytitle"><a href="/searchbytitle">By Title</a></li>
        <li class="byauthor"><a href="/searchbyauthor">By Author</a></li>
        <li class="bystatus"><a href="/searchbystatus">By Status</a></li>
        <li class="bylang"><a href="/searchbylanguage">By Language</a></li>
        <li class="bycity"><a href="/searchbycity">By City</a></li>
      </ul>
    <li class="logout"><a href="/logout">Logout</a>
    </li>
  </ul>
