{% extends "rapocore/myaccount.html" %}

{% load i18n admin_static admin_list %} 
{% load admin_urls %} 

{% block title %}
{{ block.super }} Browse Members
{% endblock %}

{% block headsection %}
{{ block.super }}
<style>

.bar1 {
    width: 8px;
    margin: 1px;
    display: inline-block;
    position: relative;
    background-color: green;
    vertical-align: baseline;
}
.bar2 {
    width: 8px;
    margin: 1px;
    display: inline-block;
    position: relative;
    background-color: red;
    vertical-align: baseline;
}
.bar3{
    width: 8px;
    margin: 1px;
    display: inline-block;
    position: relative;
    background-color: steelblue;
    vertical-align: baseline;
}
.bar4 {
    width: 8px;
    margin: 1px;
    display: inline-block;
    position: relative;
    background-color: aqua;
    vertical-align: baseline;
}
</style>
{{ form.media }}
{% endblock headsection %}

{% block topsection %}
{{ block.super }} 
{% endblock topsection %}
	
{% block Centre %}
<div class="panel panel-success">
     <div class="panel-heading">
     <strong>Members</strong>
</div>
<table id="members" class="table" >
	<thead>
   	<tr>
	<th style="width: 20%" id="fname"> Member Name </th>
	<th style="width: 28%"  id="city"> City </th>
	</tr>
</thead>
{% for member in object_list %}
   	<tr>
			<td width="30%"><a href="/accounts/memberprofile/{{ member.user.username }}/">{{ member.user.first_name }} {{ member.user.last_name }}</a>
        <div title="Released" style="height: 22px;" class="bar1" ></div><!--
        --><div title="Sent" style="height: 11px;" class="bar2" ></div><!--
        --><div title="Received" style="height: 6px;" class="bar3" ></div><!--
        --><div title="Rating" style="height: 49px;" class="bar4" ></div><!--
		-->
			</td>
			<td> Not Available </td>
	</tr>
{% endfor %}
   <tfoot><tr> <td class="closedstatus" colspan="8"> {{ object_list.count }} members  </td> </tr></tfoot>
</table>
</div>
{% endblock %}
