{% extends "rapocore/myaccount.html" %}

{% block headsection %}
{{ block.super }} 
{{ form.media }} 
{% endblock %}

{% block topsection %}
{{ block.super }} 
{% endblock %}

{% block Centre %}
<h2>{{ formtitle }}</h2>
    <form method='post' action='/{{ formaction }}/'>{% csrf_token %}

	<table>
    {% for field in form %}
			<tr>
            {{ field.errors }}
            <td> {{ field.label_tag }}  </td> <td>{{ field }}</td>
			</tr>
    {% endfor %}
	</table>
		<input type="submit" value="{{ submitmessage }}" />
    </form>
{% endblock %}
