{% extends "rapocore/myaccount.html" %}
{% load staticfiles %}

{% block headsection %}
<script type="text/javascript" src="{% static "rapocore/prototype.js" %}"></script>
<script type="text/javascript" src="{% static "rapocore/my_ajax_function.js" %}"></script>
{{ block.super }} 
{% endblock %}

{% block topsection %}
{{ block.super }} 
{% endblock %}

{% block Centre %}
<h2>{{ formtitle }}</h2>
    <form method='post' action='/{{ formaction }}/'>{% csrf_token %}

	<table>
    {% for field in form %}
			<tr>
            {{ field.errors }}
            <td> {{ field.label_tag }}  </td> <td>{{ field }}</td>
			</tr>
    {% endfor %}
	</table>
		<input type="submit" value="{{ submitmessage }}" />
    </form>
{% endblock %}
