.page-header
{
	margin-top: 10px;
}

.navbar
{
	margin-bottom: 0px;
}

a.list-group-item:hover, a.list-group-item:focus
{
	text-decoration: none;
	background-color: #eeee77;
}

.navbar-brand {
	padding:0px;
}

ul.nav li.li-no-hover {
	padding:10px;
}

ul.nav li.li-no-hover>a {
	color: white;
	padding:5px;
}

ul.nav li.li-no-hover>a:hover {
	color:white;
	background-color:#468847;
}

.authenticate
{
	background-color:#ffaa22;
	border-color:#ffaa22;
}

.required {
	color: red;
}

ol {
    counter-reset: li;
    list-style: none outside none;
    padding: 0px;
    margin-bottom: 4em;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid #dff0d8;
    background:#fff;
}
ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    border-top:2px solid #dff0d8;
    color:#468847;
    background:#dff0d8;
    font-weight:bold;
    text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

.emph {
    padding:4px 8px; /* Add some spacing around the content */
    border-top:2px solid #dff0d8;
    color:#468847;
    background:#dff0d8;
    font-weight:bold;
}
