  <ul>
    <li><a href="/releasebook">Release a book</a></li>
    <li><a href="/sendbook">Send a book</a></li>
    <li><a href="/receivebook">Receive a book</a></li>
    <li><a href="/passon">Pass a book on</a></li>
  </ul>
  <ul>
    <li><a href="/search">Search</a></li>
    <li><a href="/browse">Browse books</a></li>
  </ul>
  <ul>
    <li><a href="/defect">Report a defect</a></li>
    <li><a href="/listdefect">Browse defects</a></li>
  </ul>
  <ul>
    <li><a href="/logout">Logout</a></li>
  </ul>
