{% load i18n admin_static admin_list %} 
{% load admin_urls %} 


<html>
    <head>
        <title>Add to queue</title>
    </head>
    <body>
        {% if success %}
        	<h1>Added to queue </h1>
			<p>{{ user}} successfully added to queue for {{ book }}</p>
        {% else %}
        	<h1>Already in queue </h1>
			<p>{{ user}} already in queue for {{ book }}</p>
        {% endif %}
            <table>
            {% for m in queue  %}
                 <tr> {{ m.member__user__first_name }} {{ m.member__user__last_name }} </br></tr>
            {% endfor %}
				
            </table>
            <p><a href="javascript: window.close();"/>Close</p>
    </body>
</html>
