<!--Modified to add tool tips. Date: 02-Nov-2013. By: Benitha-->
<div class="list-group">
<!--<a href="/accounts/profile" class="list-group-item" title="View your RAPO™ information">My Account</a>-->
<a href="/releasebook" class="list-group-item" title="Click to add a new book to RAPO™">Release a book</a>
<a href="/sendbook" class="list-group-item" title="Notify the details of the book sent to the receiver">Send a book</a>
<a href="/receivebook" class="list-group-item" title="Click to acknowledge receipt of a book">Receive a book</a>
<a href="/passon" class="list-group-item" title="Finished reading? Click to pass it on">Pass a book on</a>
<a href="/search" class="list-group-item" title="Search for RAPO™ books">Search</a>
<a href="/bookbrowse" class="list-group-item" title="View all RAPO™ books">Browse books</a>
<a href="/defect" class="list-group-item" title="Click to report a defect">Report a defect</a>
<a href="/defectbrowse" class="list-group-item" title="View all defects">Browse defects</a>
<!--<a href="/logout" class="list-group-item" title="Click to signout">Logout</a>-->

</div>

