  <ul>
    <li class="openstatus"><a href="/readme">How it works</a></li>
  </ul>
  <ul>
    <li class="closedstatus"><a href="/accounts/profile">My Account</a></li>
  </ul>
  <ul>
    <li><a href="/releasebook">Release a book</a></li>
    <li><a href="/sendbook">Send a book</a></li>
    <li><a href="/receivebook">Receive a book</a></li>
    <li><a href="/passon">Pass a book on</a></li>
  </ul>
  <ul>
    <li><a href="/search">Search</a></li>
    <li><a href="/bookbrowse">Browse books</a></li>
  </ul>
  <ul>
    <li><a href="/defect">Report a defect</a></li>
    <li><a href="/defectbrowse">Browse defects</a></li>
  </ul>
  <ul>
  </ul>
  <ul>
    <li><a href="/logout">Logout</a></li>
  </ul>
<!--marquee behavior="scroll" direction="up" scrollamount="1" class="closedstatus">New - 1 August 2013 - A Simple 'My Account' link to summarize a member's transactions in RAPO&trade; </br></br>29 July 2013 -Tags and Queue columns added to "Browse books"<a href="http://rapo.in">rapo.in</a></marquee>
