{% load i18n admin_static admin_list %} 
{% load admin_urls %} 


<html>
    <head>
        <title>Archive it</title>
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" /> 
	<script>
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
    </script>
    </head>
    <body>
	<h1>Archived </h1>
    <div class="container">
    <div class="col-sm-9">
			<p>{{ user.first_name }} {{ user.last_name }} successfully archived defect "{{ defect }}"</p>
            <p><a href="javascript: window.close();"/>Close</p></a>
	</div>
	</div>
    </body>
</html>
