{% extends "rapocore/myaccount.html" %}

{% load i18n admin_static admin_list %} 
{% load admin_urls %} 
{% load staticfiles %} 

{% block title %}
{{ block.super }} {{ formtitle }}
{% endblock %}

{% block headsection %}
{{ block.super }}
<script type="text/javascript" src="{% static "sorttable.js" %}"></script> 
<script>
    
function popup(url,message) {
        newwindow=window.open(url,'{{title}}','height=200,width=1000');
        if (window.focus) {newwindow.focus()}
		return false;
}
function popitup(url,message) {
    var response= confirm(message) 
    if (response==true){
        newwindow=window.open(url,'{{title}}','height=200,width=1000');
        if (window.focus) {newwindow.focus()}
    }
    return false;
}


</script>
{{ form.media }}
{% endblock headsection %}

{% block topsection %}
{{ block.super }} 
{% endblock topsection %}

{% block Centre %}
{% if search %}
<div class="panel panel-success">
     <div class="panel-heading">
     <strong>Search Books</strong>
</div>
<br/>
<form action="/searchresults/" method="post">{% csrf_token %}
<table>{{ form }} </table>
<br/>
<input type="submit" value="Submit" />
</form>
</div>
{% endif %}

<div class="panel panel-success">
                    <div class="panel-heading">
{% if passon %} 
<strong>{{ formtitle }} </strong> </br> {{ formnote }}
{% else %}
                    <strong>List of RAPO™ Books</strong>
{% endif %}
                  </div>
<table id="books" class="table table-hover sortable">
	<thead>
   <tr>
        <td id ="id" width="20%"><b> Book ID </b></td>
<!--	<th id = "bookcover" width="20%"> Book Cover </th> -->
    	<th id="title" width="30%"> Title of the book </th>
 	<th id="author" width="30%"> Author </th>
	<th id="queue" width="30%"> Activity Link </th>
    </tr>
</thead>
{% if data %}
{% for book in data %}
   <tr>
 {% comment %}
        <td> <img src="{% static "new.jpg" %}" alt="New" height="2" width="2"> </td>
 {% endcomment %}
        <td> {% if book.is_new %} <img src="{% static "new.jpg" %}" alt="New" height="15" width="30"> {% endif %} {{ book.id }}</td>
    <!--    <td> <a href="/bookdetails/{{ book.id }}" title="Click to view the details of the book"> <img src={{book.imgurl}}  alt="New" height="15" width="30"> </a> </td> -->
    	<td> <a href = "/bookdetails/{{ book.id }}" title="Click to view the details of the book" >{{ book.title }}  </a> </td>
	<td> {% for author in book.author.all %}
  		{{ author.first_name }} {{ author.last_name }}{% if not forloop.last %},{% endif %}
		{% endfor %}
	</td>
	    <td> 
                {% ifequal book.withmember.user.username 'rapo.admin' %}
                    <em> Need Info </em>
                {% else %}
                    {% ifnotequal user.username book.withmember.user.username %}
                        {% if member in book.rqueue.all %}
                            In queue: <a href="/cancelrequest{{ book.id }}" id="cancelrequest" class="cancelrequest" title="Click to cancel the requested book" onclick="return popitup(this,'Are you sure you want to cancel your request for  this book - {{ book.title }}?');">Cancel Request</a>
                        {% else %}
                            {% ifequal book.status 'T' %}
                                {% for tran in transaction %}
                                    {% ifequal book.id tran.book_id %}
					{% ifequal tran.to_member.user.username user.username %}
						<a href="/receivebook" title="Click to acknowledge reciept of the book" >Receive Book</a>
					{% else %}
						{% ifequal tran.from_member.user.username user.username %}
							In Transit
						{% else %}
							<a href="/add2queue{{ book.id }}" id="add2queue" class="add2queue" title="Click to Request/Reserve the book" onclick="return popitup(this,'Are you sure you want to request this book - {{ book.title }}?');">Request/Reserve</a>
						{% endifequal %}
					{% endifequal %}
				    {% endifequal %}
                                {% endfor %}
                            {% else %}
                                <a href="/add2queue{{ book.id }}" id="add2queue" class="add2queue" title="Click to Request/Reserve the book" onclick="return popitup(this,'Are you sure you want to request this book - {{ book.title }}?');">Request/Reserve</a>
                            {% endifequal %}
                        {% endif %}
                    {% else %}
                        {% ifequal book.status 'A' %}
                            <a href="/sendbook" title="Click to send the book to the receiver" >Send Book</a>
                        {% else %}
                            {% ifequal book.status 'R' %}
                                <a href="/passon{{ book.id }}" id="passon" class="passon" title ="Click to Pass on the book back to the next person in the queue" onclick="return popitup(this,'Are you sure you want to pass this book on - {{ book.title }}?');">Pass On</a>
                            {% else %}
                                {% ifequal book.status 'T' %}
                                    In Transit
                                {% else %}
                                    Where is it?
                                {% endifequal %}
                            {% endifequal %}
                        {% endifequal %}
                    {% endifnotequal %}
                {% endifequal %}
        </td>
    </tr>
{% endfor %}
   <tfoot><tr> <td class="closedstatus" colspan="10"> {{ data.count }} books found </td> </tr> </tfoot>
{% else %}
    <tr> <td class="odd" colspan="10"> No books found.</td></tr>
{% endif %}
   </table>
</div>
{% endblock %}
