{% extends "rapocore/myaccount.html" %}

{% load i18n admin_static admin_list %} 
{% load admin_urls %} 
{% load staticfiles %} 

{% block title %}
{{ block.super }} My Account
{% endblock %}

{% block headsection %}
{{ block.super }}
<script type="text/javascript" src="{% static "sorttable.js" %}"></script> 
<script>
    
function popitup(url,message) {
    var response= confirm(message) 
    if (response==true){
        newwindow=window.open(url,'{{title}}','height=200,width=1000');
        if (window.focus) {newwindow.focus()}
    }
    return false;
}
/*
function ToggleList(IDS) {
  var CState = document.getElementById(IDS);
  if (CState.style.display != "table-row") { CState.style.display = "table-row"; }
                                  else { CState.style.display = "none"; }
}*/

</script>

{{ form.media }}
{% endblock headsection %}

{% block topsection %}
{{ block.super }} 
{% endblock topsection %}
	
{% block Centre %}
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <strong>Books with me</strong>
                  </div>
                  <div class="panel-body">
<table class="table table-hover" >
{% comment %} Books currently with me {% endcomment %}
  <thead>
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Requested By</th>
          </tr>
        </thead>
{% for book in bookswith %} 
<tr> <td>{{ book.title }} </td> 
	{% ifnotequal book.rqueue.count 0 %} 
		<td> In queue : </br>  {% for m in bookswithqlist %} 
                         {% ifequal book.id m.book__id %}  {{ m.member__user__first_name }} {{ m.member__user__last_name }} 
       {% ifequal user.is_staff 1 %}
						<a href="/sendbookto{{ m.uid }}/{{ book.id }}">Send Book</a>   
		 {% endifequal %}
				  </br>  {% endifequal %}
                         {% endfor %} </td>
	{% else %}
		<td> {{ book.get_status_display }} </td> 
	{% endifnotequal %}
</tr> 
{% endfor %} 

{% comment %} Books in transit {% endcomment %}
{% if booksintransitfromme %}  

<td> Books in transit from me </td> <td> Title </td>  <td> To </td></tr>
{% for tr in booksintransitfromme %} <tr> <td>{{ tr.book.title }} </td> <td>  --> {{ tr.to_member.user.first_name }} {{tr.to_member.user.last_name }} ON {{ tr.date_sent }} </td></tr> {% endfor %} {% endif %}

{% if booksintransittome %} <td> Books in transit to me </td> <td> Title </td>  <td> From </td></tr>
{% for tr in booksintransittome %} <tr> <td>{{ tr.book.title }} </td> <td>  <-- {{ tr.from_member.user.first_name }} {{tr.from_member.user.last_name }} ON {{ tr.date_sent }} </td></tr> {% endfor %} {% endif %}

{% comment %} Books requested by me {% endcomment %}
{% if booksrequested %} <td> Books requested by me </td> <td> Title </td>  <td> Currently with </td></tr>
{% for qu  in booksrequested %} <tr> <td>{{ qu.book.title }} </td> <td>  {{ qu.book.withmember.user.first_name }} {{ qu.book.withmember.user.last_name }} ( {{ qu.book.withmember.user.username }} ) </td> </tr> {% endfor %} </td> </tr>
{% else %}
<tr> <td>No books requested </td> </tr>
{% endif %}




</table>
</div>
</div>
{% comment %} Books released by me {% endcomment %}

<!--<a href="#" color = "#ff00ff" onclick="ToggleList('a')">Books released by me</a> -->
<div class="panel panel-success">
                  <div class="panel-heading">
                    <strong>Books Released by Me</strong>
                  </div>
  <div class="panel-body">
<table class="table table-hover">
  <thead>
          <tr>
            <th>Title</th>
            <th>On</th>
            <th>Currently With</th>
          </tr>
        </thead>
{% for book in booksreleased %} <tr> <td>{{ book.title }} </td> <td>  {{ book.datereleased }} </td> <td>{{ book.withmember.user.first_name }} {{ book.withmember.user.last_name }} ( {{ book.withmember.user.username }} )</td> </tr> {% endfor %} </td> </tr>
</table> 
</div>
</div>


{% endblock %}
