{% extends "rapocore/myaccount.html" %}

{% load i18n admin_static admin_list %} 
{% load admin_urls %} 

{% block title %}
{{ block.super }} Browse Defects
{% endblock %}

{% block headsection %}
{{ block.super }}
<script type="text/javascript" src="{% static "sorttable.js" %}"></script> 
<script language="javascript" type="text/javascript">
<!--
function popitup(url,message) {
    var response= confirm(message) 
    if (response==true){
        newwindow=window.open(url,'{{title}}','height=200,width=1000');
        if (window.focus) {newwindow.focus()}
    }
    return false;
}

// -->
</script>
{{ form.media }}
{% endblock headsection %}

{% block topsection %}
{{ block.super }} 
{% endblock topsection %}
	
{% block Centre %}
<div class="panel panel-success">
     <div class="panel-heading">
     <strong>Defects</strong>
</div>
<table id="defects" class="table" style="table-layout:fixed">
	<thead>
   	<tr>
	<th style="width: 20%" id="by"> Logged by </th>
	<th  style="width:15%" id="date"> Log date</th>
	<th style="width: 15%"  id="cat"> Category </th>
	<th style="width: 28%"  id="desc"> Description </th>
	<th style="width: 15%"  id="comm"> Comments </th>
	<th style="width: 7%"  id="stat"> Status </th>
	</tr>
</thead>
{% for defect in object_list %}
    {% ifnotequal defect.status 'AR' %}
   	<tr>
			<td>{{ defect.bymember }}</td>
			<td>{{ defect.logdate|date:"Y/m/d h:i:s A" }}</td>
			<td>{{ defect.get_category_display }}</td>
			<td>{{ defect.description }} </td>
			<td>{{ defect.comments }} </td>
			<td class="{{ defect.get_status_display|lower }}status">{{ defect.get_status_display }} {% ifequal user.is_staff 1 %}
                {% ifnotequal defect.status 'CL' %}
				<a href="/closeit{{ defect.id }}" id="closeit" class="closeit" onclick="return popitup(this,'Are you sure you want to close this defect?');">Close it</a> 
                {% else %}
				<a href="/archiveit{{ defect.id }}" id="archiveit" class="archiveit" onclick="return popitup(this,'Are you sure you want to archive this defect?');">Archive it</a> </br>
                {% endifnotequal %}
 				{% endifequal %}</td>
			
	</tr>
    {% else %}
       {% ifequal user.is_staff 1 %}
   	       <tr>
	       		<td>{{ defect.bymember }}</td>
	       		<td>{{ defect.logdate|date:"Y/m/d h:i:s A" }}</td>
	       		<td>{{ defect.get_category_display }}</td>
	       		<td>{{ defect.description }} </td>
	       		<td>{{ defect.comments }} </td>
	       		<td class="{{ defect.get_status_display|lower }}status">{{ defect.get_status_display }} </td>
	       		
	       </tr>
       {% endifequal %}
    {% endifnotequal %}
{% empty %}
    <tr class="odd">No defects yet.</tr>
{% endfor %}
   <tfoot><tr> <td class="closedstatus" colspan="8"> {{ object_list.count }} defects logged </td> </tr>
		<tr> <td class="closedstatus" colspan="8"> {{ archived.count }} defects archived </td> </tr> </tfoot>
</table>
</div>
{% endblock %}
