{% extends "rapocore/myaccount.html" %}

{% block headsection %}
{{ block.super }} 
{% endblock %}

{% block topsection %}
{{ block.super }} 
{% endblock %}

{% block Centre %}
<h2>{{ formtitle }}</h2>
    <form method='post' action='/{{ formaction }}/'>{% csrf_token %}

	<table>
    {% for field in form %}
			<tr>
			<label>
			<td>
             {% ifnotequal submitmessage 'Search' %}
        	{% if field.field.required %}<span class="required">{{ field.label_tag }}</span>
        	{% else %}{{ field.label_tag }}{% endif %}
        	{% else %}{{ field.label_tag }}{% endifnotequal %}
			</td>
    		</label>
            <td>{{ field }}</td> <td> {{ field.errors }} </td>
			</tr>
    {% endfor %}
	</table>
			{% ifnotequal submitmessage 'Search' %}
			<span class="required"> &nbsp; </span> Required fields </br>
			{% endifnotequal %}
		<input type="submit" value="{{ submitmessage }}" />
    
    </form>
{% endblock %}
