{% extends "rapocore/myaccount.html" %}

{% block title %}
{{ block.super }} {{ formtitle }}
{% endblock %}

{% block headsection %}
{{ block.super }}
{% endblock %}

{% block topsection %}
{{ block.super }} 
{% endblock %}

{% block Centre %}
<div class="panel panel-success">
	<div class="panel-heading">
		<strong>{{ formtitle }}</strong></br>
        {{ formnote }} 
	</div>
	<div class="panel-body">
		<form role="form" method='post' action='/{{ formaction }}/' enctype="multipart/form-data">{% csrf_token %}
<table>
		{% for field in form %}
			<div class="form-group">
				{{ field.label_tag }}
				{{ field }}{{ field.help_text }}
				{{ field.errors }}
			</div>
		{% endfor %}
		{% ifnotequal submitmessage 'Search' %}
			<span class="required"> &nbsp; </span> Required fields </br>
		{% endifnotequal %}
		<input type="submit" value="{{ submitmessage }}" class="btn btn-default"/>
</table>
		</form>
	</div>
</div>
{% endblock %}
