{% extends "rapocore/rapobase.html" %}
{% load i18n admin_static admin_list %} 
{% load admin_urls %} 
	 
{% block title %} {{ block.super }} {% endblock title %}
{% block headsection %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script> 
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>

{% endblock headsection %}

{% block Login %} 
          <ul class="nav navbar-nav navbar-right">
          <li> <a href="#"><span class="text-success"><strong>Hello {{ user.first_name }}!</strong></span></a></li>
          <li><img height="50px" width="50px" src="http://graph.facebook.com/{{ user.username }}/picture"></img></li> 
	  <li class="li-no-hover"> <a href="/logout" class="btn btn-success" title="Click to signout">Logout</a> </li>
          </ul>
{% endblock %}
	 
{% block Left %} {% include "rapocore/_nav.html" %} {% endblock %}
