{% extends "rapocore/rapobase.html" %}
{% load i18n admin_static admin_list %} 
{% load admin_urls %} 
	 
{% block title %} {{ block.super }} {% endblock title %}
{% block headsection %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script> 
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>

{% endblock headsection %}

{% block Login %} 
          <ul class="nav navbar-nav navbar-right">
          <li> <a href="#"><span class="text-success"><strong>Hello {{ user.first_name }}!</strong></span></a></li>
	  
	  {% if user.first_name %}
	        <li><img height="50px" width="50px" src="http://graph.facebook.com/{{ user.username }}/picture"></img></li> 
          	<li><a href="/accounts/profile" title="View your RAPO&#153; information">My Account</a></li>
	  	<li class="li-no-hover"> <a href="/logout" class="btn btn-success" title="Click to signout">Logout</a> </li>
	  {% else %}
	        <li><img height="50px" width="50px" src="{% static "admin/img/guest.png" %}"></img></li>
	        <li><img height="50px" width="50px" src="{% static "guest.png" %}"></img></li>
	
 {% comment %}yy
		{% for provider in socialaccount.providers %}
			<a title="{{provider.name}}" class="btn btn-success"  href="{% provider_login_url provider.id process=process %}"  >Authenticate with {{provider.name}}</a>
		{% endfor %}
{% endcomment %}

	  {% endif %}
          

          </ul>
{% endblock %}
	 
{% block Left %} {% include "rapocore/_nav.html" %} {% endblock %}
