{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<link rel="shortcut icon" href="{% static "admin/img/favicon.ico" %}?" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{% block title %}
RAPO&trade;
{% endblock title %}</title>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" /> 
<link rel="stylesheet" type="text/css" href="{% static "admin/css/rapo.css" %}" /> 
{% block headsection %} {% endblock headsection %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42655003-2', 'rapo.in');
  ga('send', 'pageview');

</script>
</head>

<body>

<div id="fb-root"></div>
<script async>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=146447098887581";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <a class="navbar-brand" href="#"><img alt="RAPO Logo" height="50px" src="{% static "admin/img/rapologo.png" %}"></a>
        </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
			<li class="active"><a href="http://blog.rapo.in/">Blog</a></li>
			<li class="active"><a href="/about/">About</a></li>
			<li class="active"><a href="/howitworks/">How it works</a></li>
			<li class="active"><a href="/qea/">Quarter End Awards</a></li>
			<li class="active"><a href="/meets/">Meets</a></li>
			<li class="active"><a href="/feedback/">Contact Us</a></li>
		  </ul>
          {% block Login %} {% endblock %}

          
      </div>
    </div>
<!--
<div id="topsection"><div class="innertube">{% block topsection %} <h1>RAPO&trade;</h1> <p>Hello {{ user.first_name }}! &nbsp; &nbsp; You're logged in with {{ user.socialaccount_set.all.0.provider }} as {{ user }}.{% endblock %}</p></div></div> -->
  <div class="container">
<div class="page-header">
  <h1>Read And Pass On <small>... build rapport through RAPO ...</small></h1>
</div>

{% block Books %} {% endblock %}

    <div class="row">
     <div class="col-sm-3">
<div id="leftcolumn">
<div class="innertube">{% block Left %} {% endblock %}</div>

</div>
</div>
 <div class="col-sm-9">
 {% block Centre %} {% endblock %}
  </div>
</div>
<div class="row">
<div class="well">Copyright &copy; RAPO&trade; 2013  <a href="/disclaimer">Disclaimer</a></div>
</div>
</div>


</body>
</html>

<!--End of CSS Template page source! -->




