{% extends "rapocore/myaccount.html" %}

{% load i18n admin_static admin_list %} 
{% load admin_urls %} 
{% load staticfiles %} 

{% block title %}
{{ block.super }} {{ formtitle }}
{% endblock %}

{% block headsection %}
{{ block.super }}
<script type="text/javascript" src="{% static "sorttable.js" %}"></script> 
<script>

</script>

{{ form.media }}
{% endblock headsection %}

{% block topsection %}
{{ block.super }} 
{% endblock topsection %}

{% block Centre %}
<div class="panel panel-success">
<div class="panel-heading">
    <strong> RAPO™ Book Review Details </strong>
</div>
<div class="panel-heading">
	<strong> Book Title: {{ book.title }} </strong>
	<br>
	<br>
	<strong> Overall rating: {{ avg_rating|floatformat}} </strong>
</div>
{% if rapoReview %}

		<div class="form-group" >
		<table id="raporeviewsdetails" class="table table-hover sortable">
			<tr>
				<td> Rating </td>
				<td> {{ rapoReview.rating }}  </td>
			</tr>
			<tr>
				<td> Reviewer </td>
				<td> {{ reviewer }} </td>
			</tr>
			<tr>
				<td> Detailed Book Review </td>
				<td> <i> {{ rapoReview.review }} </i> </td>
			</tr>
			<tr>
				<td> Your review for this book </td>
			{% if bookReviews %}
				{% if bookReviews.status == 'S' or bookReviews.status == 'R' %}
					<td id ="edit" colspan=2><a href="/writebookreview/{{book.id}}">Refine your review </a></td>
				{% else %}
					<td colspan=2 >Your review of this book has been submitted.</td>
				{% endif %}
			{% else %}
				<td> <a href="/writebookreview/{{book.id}}" title="Click to review the book" > Click to write a review </a> </td>
			{% endif %}
			</tr>
		</table>

		</div>

{% endif %}
</div>
{% endblock %}
