{% extends "rapocore/myaccount.html" %}

{% block title %}
{{ block.super }} {{ formtitle }}
{% endblock %}

{% block headsection %}
{{ block.super }}
{% comment %}
<script type="text/javascript">
    //Register the click-submit event
    $('form').on('click', function(e) {
        e.preventDefault();
        preview($(this));
    });
function preview(form){
        var dia_log;
        $( "label" ).each(function(i,val) { 
            dia_log += $(this).text() + " " + $(this).next().val() + "<br/>";
        });
        dia_log = dia_log.replace('undefined', '');

        if ( confirm("Are all these information is correct? " + dia_log) ) {
            alert('yes is clicked');
            form.submit();
        } else {
            alert('no is clicked');
        }
}
</script>
{% endcomment %}
{% endblock %}

{% block topsection %}
{{ block.super }} 
{% endblock %}

{% block Centre %}
<div class="panel panel-success">
	<div class="panel-heading">
		<strong>{{ formtitle }}</strong></br>
        {{ formnote }} 
	</div>
	<div class="panel-body">
		<form role="form" method='post' action='/{{ formaction }}/' enctype="multipart/form-data">{% csrf_token %}
<table>
		{% for field in form %}
			<div class="form-group" title="{{ field.help_text }}">
				{{ field.label_tag }}
				{% if field.field.required and submitmessage != 'Search' %}<span class="required">*</span> {% endif %}
				{{ field }}
				{{ field.errors }}
			</div>
		{% endfor %}
		{% ifnotequal submitmessage 'Search' %}
			<span class="required">*</span> Required fields </br>
		{% endifnotequal %}
		<input type="submit" value="{{ submitmessage }}" class="btn btn-default" perms="publish_actions,publish_stream,publish_checkins,user_groups"/>
</table>
		</form>
	</div>
</div>
{% endblock %}
