{% extends "rapocore/myaccount.html" %}

{% block topsection %}
{{ block.super }} 
{% endblock %}

{% block Centre %}
<h2>Search </h2>

<form method="post" action="/searchresults/" enctype="multipart/form-data">
{% csrf_token %}
<ul>
        <li>
            {{ form.stitle.label }}
            {{ form.stitle }}
            {{ form.stitle.errors }}
        </li>
        <li>
            {{ form.sauthor.label }}
            {{ form.sauthor }}
            {{ form.sauthor.errors }}
        </li>
        <li>
            {{ form.slanguage.label }}
            {{ form.slanguage }}
            {{ form.slanguage.errors }}
        </li>
        <li>
            {{ form.stag.label }}
            {{ form.stag }}
            {{ form.stag.errors }}
        </li>
        <li>
            {{ form.sownermember.label }}
            {{ form.sownermember }}
            {{ form.sownermember.errors }}
        </li>
        <li>
            {{ form.swithmember.label }}
            {{ form.swithmember }}
            {{ form.swithmember.errors }}
        </li>
        <li>
            {{ form.sstatus.label }}
            {{ form.sstatus }}
            {{ form.sstatus.errors }}
        </li>
        <li>
            {{ form.scity.label }}
            {{ form.scity }}
            {{ form.scity.errors }}
        </li>
        <input type="submit" value="Search" />
        </li>
</ul>
</form>
{% endblock %}
