{% load i18n admin_static admin_list %} 
{% load admin_urls %} 


<html>
    <head>
        <title>View queue</title>
    </head>
    <body>
        	<h1>View queue </h1>
			<p>Queue for '{{ book }}'</p>

{% if to_member %}
   In Transit ---> {{ to_member.user.first_name }} {{ to_member.user.last_name }} </br>
{% endif %}
{% if queue %}
            <table>
            {% for m in queue  %}
                 <tr> {{ m.member__user__first_name }} {{ m.member__user__last_name }} </br></tr>
            {% endfor %}
            </table>
{% else %}
    ---None---
{% endif %}
 
				
            <p><a href="javascript: window.close();"/>Close</p></a>
    </body>
</html>
