{% load i18n admin_static admin_list %} 
{% load admin_urls %} 


<html>
    <head>
        <title>Withdraw Book</title>
	<script>
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
    </script>
    </head>
    <body>
        {% if success %}
        	<h1>Withdraw a previously released book </h1>
			<p>{{ user }} successfully withdrew {{ book }}</p>
        {% else %}
        	<h1>Already withdrawn </h1>
			<p>{{ book }} already withdrawn by {{ user }}</p>
        {% endif %}
				
            </table>
            <p><a href="javascript: window.close();"/>Close</p></a>
    </body>
</html>
