{% load i18n admin_static admin_list %} 
{% load admin_urls %} 


<html>
    <head>
        <title>Withdraw Book</title>
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" /> 
	<script>
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
    </script>
    </head>
    <body>
    <div class="container">
    <div class="col-sm-9">
        {% if success %}
        	<h1>Withdraw a previously released book </h1>
			<p>{{ user.first_name }} {{ user.last_name }}  successfully withdrew {{ book }}</p>
        {% else %}
        	<h1>Already withdrawn </h1>
			<p>{{ book }} already withdrawn by {{ user.first_name }} {{ user.last_name }} </p>
        {% endif %}
				
            </table>
            <p><a href="javascript: window.close();"/>Close</p></a>
    </div>
    </div>
    </body>
</html>
