
{% load i18n admin_static admin_list %} 
{% load admin_urls %} 

<html>
    <head>
        <title>Add to queue</title>
        <script type="text/javascript" src="{% static "/admin/js/admin/RelatedObjectLookups.js" %}"></script>
    </head>
    <body>
        <h1>Add to queue </h1>
        <form method="POST" action="/add2queue/">{% csrf_token %}
            <table>
                {{ form }}
            </table>
            <p><input type="submit" value="Add" /> | <a href="javascript:window.close()">Cancel</a></p>
        </form>
    </body>
</html>

